.xrlink {
  color: inherit;
  display: inline-block;
  text-decoration: unset;
  -webkit-tap-highlight-color: transparent;
  &.anchor {
    color: var(--blue);
    cursor: pointer;
    &:active {
      color: var(--blue5);
    }
  }
  &.disabled {
    color: var(--font2);
    &.anchor {
      cursor: not-allowed;
      &:active {
        color: inherit;
      }
    }
  }
  .image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
